*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root
{
    --theme-purple-color: #2a2747;
    --text-white-color: #FFF;
    --text-red-color: #FF0000;
    --text-black-color: #000;
    --theme-blue-color: #2857a4;
    --text-transparent-color: #80808099;
}

body
{
    max-width: 1260px;
    margin: 0 auto;
    height: calc(100vh - 82px);
    background-image: linear-gradient(50deg, var(--theme-blue-color) 0%, var(--theme-purple-color) 74%);
    min-width: 300px;
    overflow: hidden;
    width: 100vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* ---- General styling ----- */

.no-list-style
{
    list-style: none;
}

.horizontal-list li
{
    display: inline-block;
    vertical-align: top;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.cursor-pointer
{
    cursor: pointer;
}

input
{
    border: 1px solid var(--text-white-color);
}

input:focus,textarea:focus{
    outline: none;
}

.display-flex
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.color-red
{
    color: var(--text-red-color) !important;
}

.width-100
{
    width: 100%;
}

.color-white
{
    color: var(--text-white-color);
}

.display-inline-block
{
    display: inline-block;
}

/* ----- Navbar ----- */

.navbar
{
    height: 48px;
    position: fixed;
    top: 0px;
    max-width: 1280px;
    z-index: 4;
    background-image: linear-gradient(146deg, #31478b 0%, var(--theme-purple-color) 74%);
    border-radius: 24px;
}

.nav-content
{
    display: flex;
    align-items: center;
}

.nav-content > li:not(:last-child)
{
    margin: 0px 10px;
}

.horizontal-list li *
{
    text-decoration: none;
    color: var(--text-white-color);
}

.logo-icons
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.home-link
{
    display: flex;
}

.home-link-font
{
    width: 64px;
    padding-left: 8px;
    font-size: 20px;
}

.profile-icon img
{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid var(--text-white-color);
}

.alert-icon
{
    padding-top: 10px !important;
    margin: 0px 20px !important;
}

.alert-dot
{
    position: relative;
    width: 8px;
    height: 8px;
    left: 8px;
    top: -11px;
    background-color: var(--text-red-color);
    border-radius: 50%;
}

.search-icon, .microphone-icon
{
    position: relative;
    fill: lightgray;
    width: 14px;
    height: 14px;
    top: 3px;
}

.search-icon
{
    left: 22px;
}

.microphone-icon
{
    left: -20px;
}

.input-search
{
    width: 180px;
    height: 22px;
    padding-left: 24px;
    background-color: transparent;
}

.dropdown-menu
{
    display: none;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #403066;
    box-shadow: 0px 4px 8px 1px #2857a4;
    z-index: 2;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.dropdown-list ul li
{
    display: block;
    width: 100%;
}

.dropdown-list ul li:not(:last-child)
{
    border-bottom: 1px solid var(--text-white-color);
    height: 46px;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 4px;
}

.dropdown-list .searchbar
{
    margin: 10px 0px;
}

/* ---- Main content ---- */
.container
{
    margin-top: 80px;
}

.main-container, .side-container
{
    height: 100%;
    overflow: scroll;
}

.main-container
{
    flex: 2.5;
}

.side-container
{
    flex: 1;
}

.trending-song-header
{
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
}

.trending-song-links
{
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    transition: all ease-in-out 0.2s;
}

.trending-song-links:hover
{
    transform: scale(1.5);
    z-index: 2;
}

.trending-song-links:hover .trending-song-details,
.song-image:hover .play-pause,
.artist-container:hover .artist-description
{
    background-color: var(--text-transparent-color);
    color: var(--text-white-color);
    font-size: 18px;
}

.trending-song a img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.trending-song-details
{
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.play
{
    margin: 10px;
}

.song-name
{
    margin: 0px 10px;
}

.singer
{
    text-align: end;
}

/* ---- Latest release ----- */

.latest-release-header, .popular-artist-header
{
    margin-bottom: 12px;
}

.latest-release-container
{
    margin: 10px;
    padding: 4px;
    display: flex;
    min-width: 220px;
    width: 340px;
    justify-content: space-between;
}

.latest-release-container:hover
{
    outline: 2px solid #FFF;
}

.song-image
{
    height: 120px;
    width: 120px;
}

.song-image:hover .play-pause
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.play-pause
{
    display: none;
    position: relative;
    width: 100px;
    height: 100px;
    top: -95%;
    left: 8.5%;
}

.latest-release-container img
{
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    margin: 10px;
}

.release-song-description
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.release-song-details
{
    display: flex;
}

.release-song-description span
{
    margin: 10px;
}

.release-songs-more
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    position: relative;
}

.release-songs-more i:not(:first-child)
{
    margin-top: 30px;
}

#release-songs-menu,
#release-songs-menu1,
#release-songs-menu2,
#release-songs-menu3,
#release-songs-menu4,
#release-songs-menu5
{
    width: 0px;
    height: 0px;
    opacity: 0;
}

.music-studio-menu 
{
    width: 200px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}

.music-studio-menu a
{
    text-decoration: none;
    color: var(--text-black-color);
    margin: 12px;
}

.music-studio-menu a:hover
{
    border-bottom: 2px solid var(--theme-purple-color);
}

input#release-songs-menu:checked + .music-studio-menu,
input#release-songs-menu1:checked + .music-studio-menu,
input#release-songs-menu2:checked + .music-studio-menu,
input#release-songs-menu3:checked + .music-studio-menu,
input#release-songs-menu4:checked + .music-studio-menu,
input#release-songs-menu5:checked + .music-studio-menu
{
    position: absolute;
    display: flex;
    top: 20px;
    right: 0px;
}

/* ---- Artist ---- */

.artist-container
{
    position: relative;
    margin: 20px;
}

.artist-container img
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.artist-container:hover .artist-description
{
    display: flex;
}

.artist-description
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.artist-description i
{
    margin: 12px;
}

/* ---- Playlist ---- */
.side-container-header
{
    margin-bottom: 32px;
}

.playlist-menu-dropdown
{
    float: right;
    display: flex;
    flex-direction: column;
}

.playlist-menu-content
{
    background-color: var(--text-white-color);
    position: absolute;
    top: 116px;
    right: calc((100% - 1256px)/2);
}

.playlist-menu-content li
{
    list-style: none;
    margin: 12px;
    padding: 6px;
    border-bottom: 1px solid var(--theme-purple-color);
}

.playlist-menu-content li:hover
{
    box-shadow: 0px 6px 6px 0px var(--theme-purple-color);
}

.playlist-menu-content a, .watchlist-songs a
{
    text-decoration: none;
    color: var(--text-black-color);
}

#show-playlist-dropdown
{
    width: 0px;
    height: 0px;
    opacity: 0;
}

#show-playlist-dropdown:target
{
    width: auto;
    height: auto;
    opacity: 1;
}

.playlist-songs-container
{
    width: 100%;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 92%;
}

.playlist-song
{
    width: 90%;
    height: auto;
    padding: 0px 1%;
    box-sizing: border-box;
    margin: 1%;
    border: 2px solid transparent;
}

.playlist-song:hover
{
    box-shadow: 0px 0px 11px 1px var(--theme-blue-color);
}

.playlist-song img
{
    width: 80px;
    height: 80px;
    margin: 4px;
}

.playlist-description
{
    margin-left: 8px;
    text-overflow: ellipsis;
    width: 60px;
}

.left-content
{
    width: 70%;
}

.right-content
{
    flex-direction: column;
    font-size: 10px;
    width: 30%;
}

.right-content svg
{
    margin: 10px;
    width: 20px;
    height: 20px;
    fill: var(--text-white-color);
    color: var(--text-white-color);
}

.add-to-favrouite:hover
{
    color: var(--text-red-color);
}

.add-to-hatelist:hover
{
    fill: var(--text-black-color);
}

.watchlist-songs
{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 80px;
    font-size: 18px;
    background-color: var(--text-white-color);
    color: var(--text-black-color);
    box-shadow: 0px 4px 8px 1px var(--text-black-color);
}

.responsive-playlist-container
{
    display: none;
}